@model Redes.Models.Registro

@{
    ViewBag.Title = "Index";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
<body>
    <div class="container">
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Registrar</div>
                </div>
                <div style="padding-top:30px" class="panel-body">
                    <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                    <form id="loginform" class="form-horizontal" role="form">

                            

                        <div style="margin-bottom: 20px" class="input-group">
                            @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "col-xs-9" })
                            <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-user"></i></span>
                            @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                        </div>

                        <div style="margin-bottom: 20px" class="input-group">
                           @Html.LabelFor(model => model.apellido, htmlAttributes: new { @class = "col-xs-9" })
                            <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-user"></i></span>
                            @Html.EditorFor(model => model.apellido, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.apellido, "", new { @class = "text-danger" })
                        </div>
                        
                        <div style="margin-bottom: 20px" class="input-group">
                            @Html.LabelFor(model => model.correo, htmlAttributes: new { @class = "col-xs-9" })
                            <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-user"></i></span>
                            @Html.EditorFor(model => model.correo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.correo, "", new { @class = "text-danger" })
                        </div>
                        <div style="margin-bottom: 20px" class="input-group">
                          @Html.LabelFor(model => model.contraseña, htmlAttributes: new { @class = "col-xs-9" })
                            <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-user"></i></span>
                            @Html.EditorFor(model => model.contraseña, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.contraseña, "", new { @class = "text-danger" })
                        </div>


                        <center>
                            

                            <div style="margin-top:10px" class="form-group">
                                <!-- Button -->
                                <div class="col-sm-12 controls">
                                    <input type="submit" value="Create" class="btn btn-default" />

                                    <a id="btn-fblogin" href="@Url.Action("Index","Home")" class="btn btn-primary">Inicial</a>
                                </div>
                            </div>
                        </center>
                    </form>
                    @ViewBag.Message
                </div>
            </div>
        </div>






</body>

}

